*, h1, p{
	margin: 0;
	padding: 0;
	font-family: 'colgate_readyregular';
}
/* ------------------------ GENERAL */
html, body{
	height: 100%;
	width: 100%;
	font-size: 17px;
}
ul {
	list-style: none;
}
h1{
	color: #6c7982;
	text-align: center;
}
h1 span{
	color: #6c7982;
	font-weight: bold;
	font-family: 'colgate_readybold';
}
p{
	font-size: 0.5rem;
	text-align: right;
}
div.container{
	/*min-height: 670px;*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #FFF;
	overflow: hidden;
	text-align: center;
}
div.container .girl{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
div.container .white-bg{
	background: url(../img/white-bg.png) no-repeat right;
	background-size: 65% 100%;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
}
div.container .text{
	position: absolute;
	z-index: 4;
	top: 25%;
	left: 45%;
	height: 75%;
	width: 55%;
	text-align: center;
}
div.container a.boton-up{
	position: absolute;
	top: 5rem;
	right: 4rem;
	z-index: 5;
}
div.container a.boton-up.last{
	top: 5rem;
}
div.container a.boton-down{
	position: absolute;
	bottom: 0;
	right: 4rem;
}
div.container a.boton-up img, div.container a.boton-down img{
	width: 2rem;
}
div.container h1{
	/*position: absolute;
	top: 245px;
	right: 150px;*/
}
div.container img.logo-luminous{
	/*position: absolute;
	right: 210px;
	top: 115px;*/
	width: 10rem;

}
div.container img.pasta{
	/*position: absolute;
	right: 70px;
	top: 235px;*/
	margin-top: -5rem;
	width: 27rem;
}
div.container p{
	position: absolute;
	bottom: 1.2rem;
	right: 4rem;
}

/* ----------------------- NAV*/
div.nav.bar{
	/*background: url(../img/pleca.png)no-repeat;*/
	background: url(../img/logo-p3.png) no-repeat right;
	height: 90px;
	width: 100%;
	position: fixed;
	z-index: 5;
}
div.nav.bar > img{
	float: left;
}
div.nav.bar .logo-part{
	width: 16.5rem;
}
div.nav.bar ul{
	background: url(../img/logo-p2.png) no-repeat;
	float: left;
	height: 6rem;
	margin: 0;
	position: relative;
	z-index: 2;
}
div.nav.bar .red-fill{
	background: url(../img/logo-rpt.png) repeat-x;
	display: block;
	height: 6rem;
	position: absolute;
	right: 1.8rem;
	top: 0;
}
div.nav.bar ul li{
	display: inline-table;
	margin-left: 2rem;
	margin-top: 2rem;
	font-size: 1.1rem;
	vertical-align: middle;
}
div.nav.bar ul li a{
	color: #fff;
}

/* ----------------------- PANTALLA 1 INICIO*/
div.Inicio{
	/*background: url(../img/girl1.png)no-repeat;*/
	background: url(../img/bg1.png) no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	background-attachment: fixed;
}
html[xmlns*=""]:root div.Inicio{
	-webkit-background-size: auto 150%;
}

/* ----------------------- PANTALLA 2 LENTES*/
div.Lentes{
	/*background: url(../img/fondo_3.png)no-repeat;*/
	background: url(../img/bg2.png)no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
}
html[xmlns*=""]:root div.Lentes{
	-webkit-background-size: auto 150%;
}
/* ----------------------- PANTALLA 3 TACONES*/
div.Tacones{
	/*background: url(../img/fondo_4.png)no-repeat;*/
	background: url(../img/bg3.png)no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
}
html[xmlns*=""]:root div.Tacones{
	-webkit-background-size: auto 150%;
}
/* ----------------------- PANTALLA 4 DIENTE*/ 
div.Iluminadores{
	background: url(../img/fondo.png)no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
}
html[xmlns*=""]:root div.Iluminadores{
	-webkit-background-size: auto 150%;
}
.container.Articulos{
	background: url(../img/fondo.png)no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
html[xmlns*=""]:root div.Articulos{
	-webkit-background-size: auto 150%;
}
div.diente-container{
	position: absolute;
	/* top: 100px; */
	top: 5.5rem;
	left: 0rem;
	width: 40rem;
}
img.diente{
	width: 95%;
}
img.sparkles{
	position: absolute;
	top: 4rem;
	left: 30rem;
	z-index: 3;
}
h1.tittle{
	font-family: 'colgate_readybold';
	color: #fff;
}
h1.sub{
	top: 250px;
}
div.container p.time{
	position: absolute;
	top: 5rem;
	left: 24.3rem;
	right: inherit;
	bottom: inherit;
	color: #fff;
	font-size: 1rem;
	width: 5rem;
}
p.leyenda{
	color: #fff;
}
div.container p.drama{
	color: #fff;
	font-size: 1.3rem;
	position: absolute;
	left: 16rem;
	top: 22rem;
	right: inherit;
	bottom: inherit;
	font-weight: 500;
}
h1.opticos {
	color: #fff;
	right: 250px;
}
/* ----------------------- PANTALLA 5 3min*/ 
div.redbg{
	background: url(../img/fondo.png)no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
}
html[xmlns*=""]:root div.redbg{
	-webkit-background-size: auto 150%;
}
img.minutos{
	position: absolute;
	top: 70px;
	left: 15px;
}
img.banner{
	position: absolute;
	bottom: 1rem;
	left: 0px;
	width: 30rem;
}
p.drama2 {
	color: #fff;
	font-size: 20px;
	position: absolute;
	right: 850px;
	bottom: 95px;
	font-weight: 500;
}
/* ----------------------- PANTALLA 6 BLUSAS*/
div.container.Blusas{
	/*background: url(../img/fondo_5.png)no-repeat;*/
	background: url(../img/bg4.png) no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
html[xmlns*=""]:root div.Blusas{
	-webkit-background-size: auto 150%;
}
/* ----------------------- PANTALLA 7 ARTICULOS*/
div.container .articulos-list{
	width: 35%;
	position: absolute;
	top: 18%;
	left: 10%;
}
div.container .articulos-list a{}
div.container .articulos-list a img{
}
.articulos1 img{
	height: 15rem;
}
.articulos2 img{
	height: 15rem;
}
.articulos3 img{
	height: 15rem;
}
.articulos4 img{
	width: 20rem;
}
.articulos5 img{
	width: 20rem;
}
div.container p.contexto{
	color: #fff;
	font-size: 1rem;
	text-align: center;
	position: relative;
	bottom: inherit;
	right: inherit;
}
/* ----------------------- PANTALLA 8 SLIDER*/
.fancybox-overlay{
	background: url(../img/fondo.png) no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
html[xmlns*=""]:root .fancybox-overlay{
	-webkit-background-size: auto 150%;
}
.fancybox-skin{
	background: transparent;
}
.fancybox-close{
	background: url(../img/boton-tache.png) no-repeat;
	top: 1rem;
	right: 3rem;
	width: 2rem;
	height: 2rem;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
html[xmlns*=""]:root .fancybox-close{
	-webkit-background-size: auto 150%;
}
.slider0{
	width: 100%;
	height: 100%;
}
.slider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.slick-prev,.slick-prev:hover,.slick-prev:focus {
	left: 1rem;
	background: url(../img/boton-flecha-atras.png) no-repeat;
	width: 1rem;
	height: 2rem;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
html[xmlns*=""]:root .slick-prev{
	-webkit-background-size: auto 100%;
}
.slick-next,.slick-next:hover,.slick-next:focus {
	right: 1rem;
	background: url(../img/boton-flecha-adelante.png) no-repeat;
	width: 1rem;
	height: 2rem;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
html[xmlns*=""]:root .slick-next{
	-webkit-background-size: auto 100%;
}
.slick-prev::before, .slick-next::before{
	content: "";
	display: none;
}
.slick-slide .row{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 60%;
	width: 85%;
}
.slick-slide .row > div{
	height: 100%;
}
.slick-slide .row > div .thumb{
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.slick-slide .row > div .h-thumb{
	width: 90%;
}
.slick-slide .row > div .desc{
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 11rem;
}
.slick-slide .row > div .desc.big{
	height: 21rem;
}
.slick-slide .row > div .desc h1{
	color: #fff;
	font-size: 1.8rem;
}
.slick-slide .row > div .desc p{
	text-align: center;
	color: #fff;
	font-size: 1rem;
	margin-top: 0.8rem;
}
.slick-slide .row > div .desc ol{
	color: #fff;
	font-size: 1rem;
	/*margin-top: 0.8rem;*/
}
.slick-dots {
	bottom: 1rem;
}
.slick-dots li button:before,.slick-dots li.slick-active button:before {
	color: #fff;
	font-size: 15px;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	font-size: 15px;
}

/* ----------------------- PANTALLA 9 GENTE LUMINOUS*/
.container.Gente{
	background: url(../img/fondo.png) no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

}
html[xmlns*=""]:root .container.Gente{
	-webkit-background-size: auto 100%;
}
div.people{
	position: absolute;
	top: 17%;
	width: 45%;
}
div.people .pip{
	width: 21rem;
	height: 9.3rem;
	margin: 0.1rem auto;
	position: relative;
	overflow: hidden;
}
div.people .pip > div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 95%;
}
div.people .pip .pip-p{
	background: url(../img/marco-p.png) no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	left: 3.5rem;
	width: 80%;
	height: 70%;
	top: 1.1rem;
	padding-top: 0.4rem;
	z-index: 1;
}
html[xmlns*=""]:root div.people .pip .pip-p{
	-webkit-background-size: auto 100%;
}
div.people .pip .pip-img{
	text-align: left;
	overflow: hidden;
	top: 1.4rem;
	left: 1rem;
	height: 67%;
}
div.people .pip .pip-img img{
	height: 120%;
}
div.people .pip .pip-p p{
	text-align: left;
	font-size: 0.65rem;
}
div.people .pip .pip-p .pip-name{
	bottom: inherit;
	right: inherit;
	left: 2.7rem;
	font-size: 1rem;
}
div.people .pip .pip-p .pip-content{
	top: 2rem;
	left: 2.3rem;
	width: 13rem;
}
div.people .pip .pip-back{
	z-index: 0;
	background: url(../img/marco-back.png) no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
html[xmlns*=""]:root div.people .pip .pip-back{
	-webkit-background-size: auto 100%;
}
img.diente2{
	width: 24rem;
}

/* ----------------------- PANTALLA 10 MAGAZINE*/
.container.Magazine{
	background: url(../img/fondo.png) no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
html[xmlns*=""]:root .container.Magazine{
	-webkit-background-size: auto 150%;
}
.container.Magazine .row:nth-child(1){
	padding: 5rem 0 0;
}
.container.Magazine .row:nth-child(1) .columns .btn{
	width: 7rem;
	height: 1.7rem;
	display: block;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	position: absolute;
}
html[xmlns*=""]:root .container.Magazine .row:nth-child(1) .columns .btn{
	-webkit-background-size: auto 100%;
}
a.fb-large{
	background: url(../img/fb-large.png) no-repeat;
	top: 3rem;
}
a.tw-large{
	background: url(../img/tw-large.png) no-repeat;
	top: 3rem;
	left: 9rem;
}
.container.Magazine .row:nth-child(2){
	height: 60%;
}
.container.Magazine .articles{
	height: 100%;
	position: relative;
}
.container.Magazine .articles div:nth-child(2) .single{
	margin: 0.7rem 0;
}
.container.Magazine .articles .article{
	margin: auto 1rem;
	float: left;
}
.container.Magazine .articles .article a{
	position: absolute;
	top: 10%;
	left: 5%;
	z-index: 2;
	width: 86%;
	height: 74%;
	overflow: hidden;
}
.container.Magazine .articles .quart{
	/*background: grey;*/
	width: 19rem;
	height: 14rem;
	position: relative;
	overflow: hidden;
}
.container.Magazine .articles .quart::before{
	content: "";
	background: url(../img/marco-magazine.png) no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	width: 19.2rem;
	height: 14rem;
	display: block;
	position: relative;
	left: -0.4rem;
	top: -0.1rem;
}
html[xmlns*=""]:root .container.Magazine .articles .quart{
	-webkit-background-size: auto 100%;
}
.container.Magazine .articles .single{
	width: 7rem;
	height: 5rem;
	margin: 0.2rem 1.6rem;
	position: relative;
	overflow: hidden;
}
.container.Magazine .articles .single::before{
	content: "";
	background: url(../img/marco-magazine.png) no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	width: 7rem;
	height: 5rem;
	display: block;
	position: relative;
}
html[xmlns*=""]:root .container.Magazine .articles .single::before{
	-webkit-background-size: auto 100%;
}
div.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../img/footer.png)no-repeat;
	width: 100%;
	height: 3rem;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
html[xmlns*=""]:root div.footer{
	-webkit-background-size: auto 100%;
}
div.footer ul {
	/*margin: auto; 
	width: 1200px;*/
	margin: 0;
}
div.footer ul li {
	display: inline-block;
	font-size: 0.7rem;
	/* padding-left: 142px; */
	text-align: center;
	width: 24.7%;
}
div.footer ul li a{
	color: #fff;
}

div.footer p.parrafo{
	color: #fff;
	font-size: 0.5rem;
	text-align: center;
	/* margin-left: 520px; */
	/* position: inherit; */
	width: 100%;
	bottom: auto;
	right: auto;
	/* padding-top: 0.5rem; */
	text-align: center;
}

/* ----------------------- POLITICAS*/
#terminos, #privacidad{
	display: none;
}
#politicas{
	padding: 2rem;
}
#politicas h1{
	color: #fff;
}
#politicas p, #politicas ul, #politicas ol{
	color: #fff;
	text-align: left;
	font-size: 0.7rem;
}
/* ------------------------------ slider 2*/
.fancybox-inner{
	overflow: hidden !important;
}
.Articulo > .row{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 60%;
	width: 85%;
}
.Articulo > .row > div{
	height: 100%;
}
.Articulo > .row > div .gal{
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.Articulo > .row > div .gal .gal-next{
	display: block;
	background: url(../img/boton-flecha-adelante.png) no-repeat;
	width: 1rem;
	height: 2rem;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	position: absolute;
	top: 50%;
	right: 0;
}
.Articulo > .row > div .gal .gal-prev{
	display: block;
	background: url(../img/boton-flecha-atras.png) no-repeat;
	width: 1rem;
	height: 2rem;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	position: absolute;
	top: 50%;
	left: 0;
}
.Articulo > .row > div .gal .track{
	width: 100%;
	height: 100%;
}
.Articulo > .row > div .gal .track img{
	width: 100%;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.Articulo > .row > div .desc h1{
	color: #fff;
	font-size: 1.2rem;
}
.Articulo > .row > div .desc p{
	text-align: justify;
	color: #fff;
	font-size: 0.7rem;
	margin-top: 0.8rem;
	height: 15rem;
	overflow-y: auto;
}
.Articulo > .row:nth-child(1) .columns .btn{
	width: 7rem;
	height: 1.7rem;
	display: block;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	/* float: left; */
	margin: 1rem auto;
}
html[xmlns*=""]:root .Articulo > .row:nth-child(1) .columns .btn{
	-webkit-background-size: auto 150%;
}
p.stp.arti{
	width: 400px;
	text-align: left;
	height: 220px;
	top: 200px;
	overflow-y: scroll;
}
h1.st.titul {
	right: 225px;
}
div.marco{
	background: url(../img/marco.png)no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	right: 80px;
	top: 90px;
}
.slick-initialized .slick-slide {
	height: 565px;
}
.slick-slide img.art-fotoss {
	width: 31%;
	position: absolute;
	left: -36px;
	top: 126px;
}
button.close{
	background: url(../img/boton-tache.png)no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 20px;
	left: 794px;

}

/* ------------------------------ RESPONSIVE*/
@media(max-width: 720px){
	html,body{
		font-size: 9px;
	}
	div.nav.bar ul{
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		padding-right: 4rem;
		height: 6rem;
	}
	html[xmlns*=""]:root div.nav.bar ul{
	-webkit-background-size: auto 150%;
	}
	div.nav.bar ul li{
		margin-left: 0.9rem;
	}
	div.nav.bar ul li a img{
		width: 5rem;
	}
	div.nav.bar ul li:nth-child(5) a img{
		width: 2rem;
	}
	div.nav.bar .red-fill{
		display: none;
	}
	.container.Magazine .row:nth-child(1){
		padding: 7rem 0 0;
	}
	.container.Magazine .articles .single{
		margin: 0.7rem 1rem;
	}
}
@media(max-width: 960px){
	html,body{
		font-size: 13px;
	}
	div.nav.bar{
		background: url(../img/logo-p3.png) no-repeat right 0.5rem;
		background-size: 3% 80%;
		-moz-background-size: 3% 80%;
		-webkit-background-size: 3% 80%;
	}
	div.nav.bar .logo-part {
		width: auto;
		height: 6rem;
	}
}
@media(max-device-height: 568px){
	html,body{
		font-size: 13px;
	}
	div.nav.bar{
		background: url(../img/logo-p3.png) no-repeat right 0.5rem;
		background-size: 3% 80%;
		-moz-background-size: 3% 80%;
		-webkit-background-size: 3% 80%;
	}
	div.nav.bar .logo-part {
		width: auto;
		height: 6rem;
	}
	div.diente-container{
		top: 5.5rem;
	}
}
