* {
  margin: 0;
  padding: 0;
  font-family: 'colgate_readyregular';
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  border: none;
}
.site-preloader {
  width: 100%;
  height: 100%;
  background: #a00;
  z-index: 100;
  position: fixed;
}
.site-preloader .preloader-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 35%;
  margin: auto;
  color: #fff;
  text-align: center;
}
.site-preloader .preloader-content p {
  font-family: 'avenir_next_condensed';
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.site-preloader .preloader-content .preloader-spinner {
  margin: auto;
  width: 50%;
  height: 10%;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  top: 16rem;
  left: 0;
  bottom: 0;
  right: 0;
}
.site-preloader .preloader-content .preloader-spinner > div {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  -moz-animation: bouncedelay 1.4s infinite ease-in-out;
  -o-animation: bouncedelay 1.4s infinite ease-in-out;
  -ms-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
.site-preloader .preloader-content .preloader-spinner > div.bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  -o-animation-delay: -0.32s;
  -ms-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.site-preloader .preloader-content .preloader-spinner > div.bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  -o-animation-delay: -0.16s;
  -ms-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.nav.bar {
  background: url("../img/logo-p3.png") no-repeat right;
  -webkit-background-size: 2% 100%;
  -moz-background-size: 2% 100%;
  background-size: 2% 100%;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 4.5vw;
}
.nav.bar > img {
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
}
.nav.bar ul {
  margin: 0;
<<<<<<< HEAD
  width: 83.3%;
=======
  width: 84.3%;
>>>>>>> c8464500a4e3671979dca2a713ca21582d4a87ff
  height: 100%;
  position: absolute;
  top: 0;
  left: 15%;
  overflow: hidden;
  background: url("../img/logo-p2.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  overflow: hidden;
}
.nav.bar ul li {
  min-width: 40px;
  height: 100%;
  float: left;
}
.nav.bar ul li a {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1vw;
<<<<<<< HEAD
  padding: 2.6vw 1.5vw 0;
=======
  padding: 2.6vw 1vw 0;
>>>>>>> c8464500a4e3671979dca2a713ca21582d4a87ff
}
.nav.bar ul li a img {
  margin: -1.1vw auto 0;
  width: 6vw;
  display: block;
}
.nav.bar ul li a img.fb {
  margin-top: -0.7vw;
  width: 2.6vw;
}
.nav.bar ul li a img.yt {
  margin-top: -1.6vw;
}
img.pasta1 {
  position: fixed;
<<<<<<< HEAD
  top: 50vh;
=======
  top: 48.5vh;
>>>>>>> c8464500a4e3671979dca2a713ca21582d4a87ff
  left: 50vw;
  z-index: 1;
  height: 25vw;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  img.pasta1 {
    position: fixed;
    top: 27vw;
    left: 50vw;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  img.pasta1 {
    position: fixed;
    top: 27vw;
    left: 50vw;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  img.pasta1 {
    position: fixed;
    top: 20vw;
    left: 50vw;
  }
}
@media only screen and (min-device-pixel-ratio: 1.5) {
  img.pasta1 {
    position: fixed;
    top: 20vw;
    left: 50vw;
  }
}
@media only screen and (min-width: 680px) and (max-width: 690px) {
  img.pasta1 {
    position: fixed;
    top: 20vw;
    left: 50vw;
  }
}
.container {
  overflow: hidden;
  background: url("../img/bg1_.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.container .contenido-pag {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.container .contenido-pag > img {
  height: 90%;
  margin-top: 10%;
}
.container .contenido-pag .text {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
}
.container .contenido-pag .text h1 {
  color: #5f5f5e;
  font-family: 'avenir_next_condensed';
  font-size: 6vw;
  line-height: 6vw;
  margin: 0;
}
.container .contenido-pag .text h1 span {
  color: #e61d14;
  font-weight: normal;
  font-family: 'avenir_next_condensed';
  font-weight: 600;
}
.container .boton-up {
  position: absolute;
  top: 4.5vw;
  right: 0;
  z-index: 4;
  width: 3vw;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .container .boton-up {
    top: 3vw;
  }
}
@media only screen and (min-device-pixel-ratio: 1.5) {
  .container .boton-up {
    top: 3vw;
  }
}
@media only screen and (min-width: 680px) and (max-width: 690px) {
  .container .boton-up {
    top: 3vw;
  }
}
.container .boton-up img {
  width: 100%;
}
.container .boton-down {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  width: 3vw;
}
@media screen and (min-device-height: 1024px) and (max-device-width: 768px) {
  .container .boton-down {
    bottom: 0;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .container .boton-down {
    bottom: -1vw;
  }
}
@media only screen and (min-device-pixel-ratio: 1.5) {
  .container .boton-down {
    bottom: -1vw;
  }
}
@media only screen and (min-width: 680px) and (max-width: 690px) {
  .container .boton-down {
    bottom: -1vw;
  }
}
.container .boton-down img {
  width: 100%;
}
.container p {
  font-size: 1.9vw;
  line-height: 1.2;
  color: #565655;
  font-family: 'avenir_next_condensed';
}
.container p.leyenda {
  font-size: 0.8vw;
  text-transform: uppercase;
  font-family: 'colgate_readybold';
  position: absolute;
  bottom: 0;
  right: 3vw;
  margin: 1vw;
}
.container p span.LuminousSelfie {
  color: #5f5f5e;
  font-family: 'avenir_next_bold';
}
.container p span.link {
  font-weight: bold;
  font-family: 'avenir_next_bold';
}
.container p span.rojo {
  color: #e61d14;
  font-family: 'avenir_next_bold';
}
.container .sombra_blanca {
  text-shadow: 0px 0px 10px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 70px #fff, 0 0 100px #fff;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container .sombra_blanca {
    text-shadow: 0px 0px 10px #fff;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .container .sombra_blanca {
    text-shadow: 0px 0px 10px #fff;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .container .sombra_blanca {
    text-shadow: 0px 0px 10px #fff;
  }
}
@media only screen and (min-device-pixel-ratio: 1.5) {
  .container .sombra_blanca {
    text-shadow: 0px 0px 10px #fff;
  }
}
@media only screen and (min-width: 680px) and (max-width: 690px) {
  .container .sombra_blanca {
    text-shadow: 0px 0px 10px #fff;
  }
}
.container.Inicio p.selfie {
<<<<<<< HEAD
  margin-top: 22vw;
}
.container.Iluminadores {
  background: url("../img/fondo.png") no-repeat;
=======
  margin-top: 21vw;
}
.container.Iluminadores {
  /*background: url("../img/fondo.png") no-repeat;*/
>>>>>>> c8464500a4e3671979dca2a713ca21582d4a87ff
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.container.Iluminadores .contenido-pag .text h1 {
  color: #fff;
  font-family: 'colgate_readybold';
  font-size: 3.5vw;
  line-height: 1.3;
}
.container.Iluminadores .sparkles {
  position: absolute;
  top: 5vw;
  left: 50vw;
  z-index: 3;
}
.container.Iluminadores .diente-container {
  position: absolute;
  top: 4vw;
  left: -13vw;
  width: 53vw;
}
.container.Iluminadores .diente-container img {
  width: 100%;
}
.container.Iluminadores .diente-container img.dienteSucio {
  position: absolute;
  top: 0;
  left: 0;
}
.container.Iluminadores .drama {
  color: #fff;
  font-size: 2vw;
  position: absolute;
  left: 22vw;
  top: 33vw;
  font-weight: 500;
}
.container.Iluminadores .banner {
  position: absolute;
  left: -10vw;
  bottom: 2vw;
  height: 8vw;
}
.container.Iluminadores p.leyenda {
  color: #fff;
}
.container.Articulos {
<<<<<<< HEAD
  background: url("../img/fondo.png") no-repeat;
=======
  /*background: url("../img/fondo.png") no-repeat;*/
>>>>>>> c8464500a4e3671979dca2a713ca21582d4a87ff
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.container.Articulos .contenido-pag .articulos-list {
  width: 36vw;
}
.container.Articulos .contenido-pag .articulos-list .articulos1 img {
  height: 33vw;
  margin-top: 10vw;
}
.container.Articulos .contenido-pag .articulos-list .articulos2 img {
  height: 30vw;
  margin-top: 10vw;
}
.container.Articulos .contenido-pag .articulos-list .articulos3 img {
  height: 29vw;
  margin-top: 10vw;
}
.container.Articulos .contenido-pag .text h1 {
  color: #fff;
  font-family: 'colgate_readybold';
  font-size: 3.2vw;
  line-height: 1.3;
}
.container.Articulos .contenido-pag .text p {
  color: #fff;
  font-size: 1.8vw;
  font-family: 'colgate_readyregular';
}
.container.Articulos p.leyenda {
  color: #fff;
}
<<<<<<< HEAD
.container.Gente {
  background: url("../img/fondo.png") no-repeat;
=======
.container.Concurso > div {
  position: absolute;
  top: 3vw;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 80%;
  margin: auto;
  background: #b0191b;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,0.7) 0px 0px 25px;
  box-shadow: rgba(0,0,0,0.7) 0px 0px 25px;
}
.container.Concurso > div .btn {
  background: url("../img/caja-boton.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 8vw;
  height: 2.4vw;
  color: #fff;
  font-size: 1vw;
  text-align: center;
}
.container.Concurso > div .bases {
  position: absolute;
  bottom: 1vw;
  left: 3vw;
}
.container.Concurso > div#concurso1 .asset-paso1 {
  position: absolute;
  top: -2vw;
  left: -3vw;
}
.container.Concurso > div#concurso1 .row:nth-child(2) {
  text-align: center;
  color: #fff;
}
.container.Concurso > div#concurso1 .row:nth-child(2) h2 {
  font-family: 'colgate_readyregular';
  font-size: 3vw;
  color: #fff;
}
.container.Concurso > div#concurso1 .row:nth-child(2) p {
  font-size: 2vw;
  line-height: 1.4;
  color: #fff;
}
.container.Concurso > div#concurso1 .row:nth-child(2) .ticket {
  width: 50%;
  padding: 0.3vw;
  font-size: 1.5vw;
  text-align: center;
  color: #333;
}
.container.Concurso > div#concurso1 .row:nth-child(3) {
  margin-top: 1vw;
}
.container.Concurso > div#concurso1 .row:nth-child(3) .columns {
  color: #fff;
  height: 100%;
  text-align: center;
}
.container.Concurso > div#concurso1 .row:nth-child(3) .columns img {
  width: 75%;
}
.container.Concurso > div#concurso1 .row:nth-child(3) .columns .input {
  width: 80%;
  padding: 0.3vw;
  margin: 0.3vw;
  font-size: 1.5vw;
  color: #333;
}
.container.Concurso > div#concurso1 .row:nth-child(4) .registrate {
  margin: auto;
  display: block;
  width: 12vw;
  height: 3.6vw;
  padding-top: 0.5vw;
  font-size: 1.4vw;
}
.container.Concurso > div#concurso1 .row:nth-child(4) .txt {
  color: #fff;
  text-align: center;
  margin: 1vw auto;
  width: 55%;
  font-size: 2vw;
}
.container.Concurso > div#concurso1 .row:nth-child(4) .txt.termino {
  font-size: 1.2vw;
  margin-top: -110px;
  margin-left: 550px;
}
.container.Concurso > div#concurso1 .row:nth-child(4) input.box {
  position: absolute;
  bottom: 20px;
  left: 635px;
}
.container.Concurso > div#concurso2 {
  display: none;
}
.container.Concurso > div#concurso2 .asset-paso2 {
  position: absolute;
  top: -2vw;
  left: -3vw;
}
.container.Concurso > div#concurso2 .row:nth-child(2) {
  text-align: center;
  color: #fff;
}
.container.Concurso > div#concurso2 .row:nth-child(2) h1 {
  font-family: 'colgate_readyregular';
  font-size: 3vw;
  color: #fff;
}
.container.Concurso > div#concurso2 .row:nth-child(3) {
  height: 80%;
/*
					#rcambiarfoto
						size 9vw
						display block
						margin 3vw auto 0
						img
							width 100%
					#rimage
						margin 1vw auto 0
						width 20vw
						display block
					.photo
						width 65%
						display block
						position absolute
						top -2vw
						left 5vw
					#photo
						transform rotate(-14deg)
						z-index 1
						border-radius 1.5vw
						border 15px solid #fff
						box-shadow rgba(0,0,0,0.7) 5px 5px 15px
						absolute 2vw 5vw z-index 1
						width 65%
					*/
}
.container.Concurso > div#concurso2 .row:nth-child(3) div:nth-child(2) {
  height: 100%;
}
.container.Concurso > div#concurso2 .row:nth-child(3) #rparticipa {
  width: 12vw;
  height: 12vw;
  display: block;
  margin: 7vw auto 0;
}
.container.Concurso > div#concurso2 .row:nth-child(3) #rparticipa img {
  width: 100%;
}
.container.Concurso > div#concurso2 .row:nth-child(3) .photo {
  width: 60%;
  height: 95%;
  display: block;
  position: absolute;
  top: -1vw;
  left: 5vw;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  overflow: hidden;
  -webkit-box-shadow: 0 0 35px #000;
  box-shadow: 0 0 35px #000;
}
.container.Concurso > div#concurso2 .row:nth-child(3) .photo .photo-thumb {
  position: absolute;
  top: 0;
  left: 0.4vw;
  width: 16%;
  z-index: 1;
}
.container.Concurso > div#concurso2 .row:nth-child(3) .photo .photo-info {
  position: absolute;
  top: 0;
  left: 5vw;
  z-index: 2;
  width: 80%;
}
.container.Concurso > div#concurso2 .row:nth-child(3) .photo .photo-info p {
  margin: 0;
}
.container.Concurso > div#concurso2 .row:nth-child(3) .photo .photo-info a {
  color: #f00;
}
.container.Concurso > div#concurso2 .row:nth-child(3) .photo .photo-cover {
  position: absolute;
  z-index: 1;
}
.container.Concurso > div#concurso2 .row:nth-child(3) .photo .photo-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 4vw;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
.container.Concurso > div#concurso3 {
  display: none;
}
.container.Concurso > div#concurso3 .asset-paso3 {
  position: absolute;
  top: -2vw;
  left: -3vw;
}
.container.Concurso > div#concurso3 .row:nth-child(2) {
  text-align: center;
  color: #fff;
}
.container.Concurso > div#concurso3 .row:nth-child(2) h1 {
  font-family: 'colgate_readyregular';
  font-size: 3vw;
  color: #fff;
}
.container.Concurso > div#concurso3 .row:nth-child(2) p {
  font-family: 'colgate_readyregular';
  font-size: 1.2vw;
  color: #fff;
}
.container.Concurso > div#concurso3 .row:nth-child(3) a {
  display: block;
  margin: 3vw auto;
  width: 15vw;
  height: 3.6vw;
}
.container.Concurso > div#concurso3 .row:nth-child(3) a.fb-xlarge {
  background: url("../img/fb-large.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.container.Concurso > div#concurso3 .row:nth-child(3) a.tw-xlarge {
  background: url("../img/tw-large.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.container.Concurso > div#concurso3 .row:nth-child(3) .photo {
  width: 55%;
  display: block;
  position: absolute;
  top: -2vw;
  left: 5vw;
}
.container.Selfies > div {
  position: absolute;
  top: 5vw;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 85%;
  margin: auto;
  background: #b0191b;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,0.7) 0px 0px 25px;
  box-shadow: rgba(0,0,0,0.7) 0px 0px 25px;
}
.container.Selfies #selfies-container h1 {
  font-family: 'colgate_readyregular';
  font-size: 3vw;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}
.container.Selfies #selfies-container #prime {
  height: 70%;
}
.container.Selfies #selfies-container #prime .main {
  height: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
}
.container.Selfies #selfies-container #prime .main img {
  height: 75%;
  margin: auto;
  margin-left: 450px;
}
.container.Selfies #selfies-container ul {
  height: 30%;
  width: 60%;
  margin: -100px 260px;
}
.container.Selfies #selfies-container ul li {
  position: relative;
  width: 20%;
  text-align: center;
  float: left;
}
.container.Selfies #selfies-container .btn {
  background: url("../img/caja-boton.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 8vw;
  height: 2.4vw;
  color: #fff;
  font-size: 1vw;
  text-align: center;
}
.container.Selfies #selfies-container .bases {
  position: absolute;
  bottom: 1vw;
  left: 3vw;
}
.container.Selfies #selfies-container .premios {
  position: absolute;
  bottom: 1vw;
  left: 12vw;
}
.container.Selfies button.like{
  background:url(../img/like.png)no-repeat;
}
.container.Selfies button.mayor{
  background:url(../img/mayor.png)no-repeat;
  margin-left: -67px;
  padding-top: 60px;
}
.container.Gente {
  /*background: url("../img/fondo.png") no-repeat;*/
>>>>>>> c8464500a4e3671979dca2a713ca21582d4a87ff
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.container.Gente .contenido-pag .people {
  position: absolute;
  top: 9vw;
  width: 45vw;
}
.container.Gente .contenido-pag .people .pip {
  width: 28vw;
  height: 13vw;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.container.Gente .contenido-pag .people .pip > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
}
.container.Gente .contenido-pag .people .pip > div.pip-p {
  background: url("../img/marco-p.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 1.5vw;
  left: 4.5vw;
  width: 80%;
  height: 70%;
  padding-top: 1vw;
  z-index: 1;
}
.container.Gente .contenido-pag .people .pip > div.pip-p p {
  text-align: left;
  font-size: 1.1vw;
}
.container.Gente .contenido-pag .people .pip > div.pip-p p.pip-name {
  position: absolute;
  top: 1vw;
  left: 3.3vw;
}
.container.Gente .contenido-pag .people .pip > div.pip-p p.pip-content {
  position: absolute;
  top: 3vw;
  left: 3.3vw;
  width: 18vw;
}
.container.Gente .contenido-pag .people .pip > div.pip-p p a {
  font-size: 1.1vw;
}
.container.Gente .contenido-pag .people .pip > div.pip-img {
  text-align: left;
  overflow: hidden;
  top: 1.8vw;
  left: 1.3vw;
  height: 67%;
  width: 70%;
}
.container.Gente .contenido-pag .people .pip > div.pip-img img {
  height: 120%;
}
.container.Gente .contenido-pag .people .pip > div.pip-back {
  z-index: 0;
  background: url("../img/marco-back.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.container.Gente .contenido-pag .text h1 {
  color: #fff;
  font-family: 'colgate_readybold';
  font-size: 3.2vw;
  line-height: 1.3;
}
.container.Gente .contenido-pag .text p {
  color: #fff;
  font-size: 1.8vw;
  font-family: 'colgate_readyregular';
}
.container.Gente .contenido-pag .text .diente2 {
  width: 50vw;
  margin-top: -5vw;
}
.container.Magazine {
<<<<<<< HEAD
  background: url("../img/fondo.png") no-repeat;
=======
  /*background: url("../img/fondo.png") no-repeat;*/
>>>>>>> c8464500a4e3671979dca2a713ca21582d4a87ff
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.container.Magazine .contenido-pag .row {
  text-align: center;
}
.container.Magazine .contenido-pag .row h1 {
  color: #fff;
  font-family: 'colgate_readybold';
  font-size: 3.2vw;
  line-height: 1.3;
}
.container.Magazine .contenido-pag .row p {
  color: #fff;
  font-size: 1.8vw;
  font-family: 'colgate_readyregular';
}
.container.Magazine .contenido-pag .row:nth-child(1) {
  padding: 7vw 0 0;
}
.container.Magazine .contenido-pag .row:nth-child(1) .columns .btn {
  width: 10vw;
  height: 2.4vw;
  display: block;
  margin-top: 5vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.container.Magazine .contenido-pag a {
  float: left;
}
.container.Magazine .contenido-pag a.fb-large {
  background: url("../img/fb-large.png") no-repeat;
}
.container.Magazine .contenido-pag a.tw-large {
  background: url("../img/tw-large.png") no-repeat;
  margin-left: 1vw;
}
.container.Magazine .contenido-pag .row:nth-child(2) {
  height: 60%;
}
.container.Magazine .contenido-pag .row:nth-child(2) .ca-container {
  width: 100%;
  height: 90%;
  margin: 0;
}
.container.Magazine .contenido-pag .row:nth-child(2) .ca-container .ca-nav span {
  width: 2vw;
  height: 4vw;
  margin-top: -1.5vw;
  left: -3.4vw;
  z-index: 8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.container.Magazine .contenido-pag .row:nth-child(2) .ca-container .ca-nav span.ca-nav-next {
  left: auto;
  right: -3.4vw;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../img/footer.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 3.5vw;
}
.footer ul {
  margin: 0;
}
.footer ul li {
  display: inline-block;
  font-size: 0.9vw;
  text-align: center;
  width: 24.7%;
}
.footer ul li a {
  color: #fff;
}
.footer p.parrafo {
  color: #fff;
  font-size: 0.8vw;
  width: 100%;
  text-align: center;
}
#politicas {
  padding: 3vw;
}
#politicas h1 {
  color: #fff;
  text-align: center;
  font-size: 2.3vw;
}
#politicas p,
#politicas ul,
#politicas ol {
  color: #fff;
  text-align: left;
  font-size: 1vw;
}
#bases {
  padding: 3vw;
}
#bases h1 {
  color: #fff;
  text-align: center;
  font-size: 2.3vw;
}
#bases p {
  color: #fff;
  text-align: left;
  font-size: 1vw;
}
<<<<<<< HEAD
#concurso1 .asset-paso1 {
  position: absolute;
  top: 0;
  left: 0;
}
#concurso1 .btn {
  background: url("../img/caja-boton.png") no-repeat center center;
  width: 6vw;
  height: 2vw;
  color: #fff;
  font-size: 1vw;
  text-align: center;
}
#concurso1 .row:nth-child(2) {
  text-align: center;
  color: #fff;
}
#concurso1 .row:nth-child(2) h2 {
  font-family: 'colgate_readyregular';
  font-size: 3vw;
  color: #fff;
}
#concurso1 .row:nth-child(2) p {
  font-size: 2vw;
  line-height: 1.4;
}
#concurso1 .row:nth-child(2) .ticket {
  width: 50%;
  padding: 0.3vw;
  font-size: 1.5vw;
  text-align: center;
  color: #333;
}
#concurso1 .row:nth-child(3) {
  margin-top: 1vw;
}
#concurso1 .row:nth-child(3) .columns {
  color: #fff;
  height: 100%;
  text-align: center;
}
#concurso1 .row:nth-child(3) .columns img {
  width: 75%;
}
#concurso1 .row:nth-child(3) .columns .input {
  width: 80%;
  padding: 0.3vw;
  margin: 0.3vw;
  font-size: 1.5vw;
  color: #333;
}
#concurso1 .row:nth-child(3) .columns .registrate {
  margin: auto;
  display: block;
}
#concurso1 .row:nth-child(4) .txt {
  color: #fff;
  text-align: center;
  margin: 1vw auto;
  width: 55%;
  font-size: 2vw;
}
#concurso1 .bases {
  position: absolute;
  bottom: 0;
  left: 0;
}
#concurso2 .asset-paso2 {
  position: absolute;
  top: 0;
  left: 0;
}
#concurso2 .btn {
  background: url("../img/caja-boton.png") no-repeat center center;
  width: 6vw;
  height: 2vw;
  color: #fff;
  font-size: 1vw;
  text-align: center;
}
#concurso2 .row:nth-child(2) {
  text-align: center;
  color: #fff;
}
#concurso2 .row:nth-child(2) h1 {
  font-family: 'colgate_readyregular';
  font-size: 3vw;
  color: #fff;
}
#concurso2 .row:nth-child(3) #rparticipa {
  width: 12vw;
  height: 12vw;
  display: block;
  margin: 3vw auto 0;
}
#concurso2 .row:nth-child(3) #rparticipa img {
  width: 100%;
}
#concurso2 .row:nth-child(3) #rimage {
  margin: 1vw auto 0;
  width: 20vw;
  display: block;
}
#concurso2 .row:nth-child(3) .photo {
  width: 65%;
  display: block;
  position: absolute;
  top: -2vw;
  left: 5vw;
}
#concurso2 .row:nth-child(3) #photo {
  -webkit-transform: rotate(-14deg);
  -moz-transform: rotate(-14deg);
  -o-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  transform: rotate(-14deg);
  z-index: 1;
  -webkit-border-radius: 1.5vw;
  border-radius: 1.5vw;
  border: 15px solid #fff;
  -webkit-box-shadow: rgba(0,0,0,0.7) 5px 5px 15px;
  box-shadow: rgba(0,0,0,0.7) 5px 5px 15px;
  position: absolute;
  2: 5vw;
  z-index: 1;
  width: 65%;
}
#concurso2 .bases {
  position: absolute;
  bottom: 0;
  left: 0;
}
#concurso3 .asset-paso3 {
  position: absolute;
  top: 0;
  left: 0;
}
#concurso3 .btn {
  background: url("../img/caja-boton.png") no-repeat center center;
  width: 6vw;
  height: 2vw;
  color: #fff;
  font-size: 1vw;
  text-align: center;
}
#concurso3 .row:nth-child(2) {
  text-align: center;
  color: #fff;
}
#concurso3 .row:nth-child(2) h1 {
  font-family: 'colgate_readyregular';
  font-size: 3vw;
  color: #fff;
}
#concurso3 .row:nth-child(2) p {
  font-family: 'colgate_readyregular';
  font-size: 1.2vw;
  color: #fff;
}
#concurso3 .row:nth-child(3) a {
  display: block;
  margin: 3vw auto;
  width: 15vw;
  height: 3.6vw;
}
#concurso3 .row:nth-child(3) a.fb-xlarge {
  background: url("../img/fb-large.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#concurso3 .row:nth-child(3) a.tw-xlarge {
  background: url("../img/tw-large.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#concurso3 .row:nth-child(3) .photo {
  width: 55%;
  display: block;
  position: absolute;
  top: -2vw;
  left: 5vw;
}
#concurso3 .bases {
  position: absolute;
  bottom: 0;
  left: 0;
}
#selfies h1 {
  font-family: 'colgate_readyregular';
  font-size: 3vw;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}
#selfies #prime {
  height: 70%;
}
#selfies #prime .main {
  height: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
}
#selfies #prime .main img {
  height: 100%;
}
#selfies ul {
  height: 30%;
  width: 60%;
  margin: 0 auto;
}
#selfies ul li {
  position: relative;
  width: 20%;
  text-align: center;
  float: left;
}
#selfies .btn {
  background: url("../img/caja-boton.png") no-repeat center center;
  width: 6vw;
  height: 2vw;
  color: #fff;
  font-size: 1vw;
  text-align: center;
}
#selfies .bases {
  position: absolute;
  bottom: 0;
  left: 0;
}
#selfies .premios {
  position: absolute;
  bottom: 0;
  left: 7vw;
}
=======
>>>>>>> c8464500a4e3671979dca2a713ca21582d4a87ff
.slider0 {
  width: 100%;
  height: 100%;
}
.slider0 .pslider {
  height: 100%;
}
.slider0 .pslider .slick-prev,
.slider0 .pslider .slick-prev:hover,
.slider0 .pslider .slick-prev:focus {
  left: 1vw;
  background: url("../img/boton-flecha-atras.png") no-repeat;
  width: 1.5vw;
  height: 3vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.slider0 .pslider .slick-next,
.slider0 .pslider .slick-next:hover.slick-next:focus {
  right: 1vw;
  background: url("../img/boton-flecha-adelante.png") no-repeat;
  width: 1.5vw;
  height: 3vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.slider0 .pslider .slick-prev::before,
.slider0 .pslider .slick-next::before {
  content: "";
  display: none;
}
.slider0 .pslider .slick-slide .row .thumb {
  margin: auto;
}
.slider0 .pslider .slick-slide .row .desc {
  height: 18vw;
  text-align: center;
  margin-top: 10vw;
  padding-right: 3vw;
}
.slider0 .pslider .slick-slide .row .desc h1 {
  color: #fff;
  font-size: 3vw;
  font-family: 'colgate_readybold';
}
.slider0 .pslider .slick-slide .row .desc p {
  text-align: center;
  color: #fff;
  font-size: 1.5vw;
  margin-top: 1vw;
}
.slider0 .pslider .slick-slide .row .desc ol {
  color: #fff;
  font-size: 1.2vw;
}
.slider0 .slick-dots {
  bottom: 0;
}
.slider0 .slick-dots li button:before,
.slider0 .slick-dots li.slick-active button:before {
  color: #fff;
  font-size: 1.6vw;
}
.slider0 .slick-dots li button:hover:before,
.slider0 .slick-dots li button:focus:before {
  font-size: 1.6vw;
}
.Articulo > .row {
  height: 100%;
}
.Articulo > .row > div {
  height: 100%;
}
.Articulo > .row > div .gal {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35vw;
  overflow: hidden;
}
.Articulo > .row > div .gal .gal-next {
  display: block;
  background: url("../img/boton-flecha-adelante.png") no-repeat;
  width: 2vw;
  height: 4vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 40%;
  right: 0;
}
.Articulo > .row > div .gal .gal-prev {
  display: block;
  background: url("../img/boton-flecha-atras.png") no-repeat;
  width: 2vw;
  height: 4vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 40%;
  left: 0;
}
.Articulo > .row > div .gal .track {
  width: 100%;
  height: 100%;
}
.Articulo > .row > div .gal img {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.Articulo > .row > div .desc {
  padding-top: 3vw;
}
.Articulo > .row > div .desc h1 {
  font-family: 'colgate_readybold';
  color: #fff;
  font-size: 2.3vw;
  text-align: left;
}
.Articulo > .row > div .desc p {
  text-align: justify;
  color: #fff;
  font-size: 1vw;
  margin-top: 1vw;
  height: 20vw;
  padding-right: 2vw;
  overflow-y: auto;
}
.Articulo > .row > div .desc .row .columns .btn {
  width: 12.3vw;
  height: 3vw;
  display: block;
  margin: 1vw auto;
}
.Articulo > .row > div .desc .row .columns .btn.fb-large {
  background: url("../img/fb-large.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.Articulo > .row > div .desc .row .columns .btn.tw-large {
  background: url("../img/tw-large.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.fancybox-overlay,
.fancybox-opened {
  background: rgba(255,0,0,0.3);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.fancybox-overlay .fancybox-skin,
.fancybox-opened .fancybox-skin {
  background: url("../img/fondo.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
<<<<<<< HEAD
=======
.fancybox-overlay .fancybox-skin .fancybox-inner,
.fancybox-opened .fancybox-skin .fancybox-inner {
  overflow: hidden !important;
}
>>>>>>> c8464500a4e3671979dca2a713ca21582d4a87ff
.fancybox-overlay .fancybox-skin .fancybox-close,
.fancybox-opened .fancybox-skin .fancybox-close {
  background: url("../img/boton-tache.png") no-repeat;
  top: 1.5vw;
  right: 3.5vw;
  width: 3.2vw;
  height: 3.2vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.frame {
  overflow-y: scroll;
  overflow-x: hidden;
}
.frame::-webkit-scrollbar {
  -webkit-appearance: none;
}
.frame::-webkit-scrollbar:vertical {
  width: 1vw;
}
.frame::-webkit-scrollbar:horizontal {
  height: 1vw;
}
.frame::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1vw;
  border-radius: 1vw;
  background-color: #fa3535;
}
.frame::-webkit-scrollbar-track {
  background-color: #ab1818;
  -webkit-border-radius: 1vw;
  border-radius: 1vw;
}
@-moz-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    -o-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    -o-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-o-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    -o-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    -o-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
